@import 'settings/reset'
@import 'settings/colors'
@import 'tools/flex-extends'
@import 'tools/font-face'
@import 'base/form'

@import 'components/login-form'
@import 'components/buttons'
@import 'components/footer'


body
  width: 100%
  height: 100vh
  background-image: url(../img/bg.png)
  background-size: cover
  background-position: center
  @extend .flex-center

.container
  width: 100%
  max-width: 520px
  position: relative
  @extend .flex-center

  &::before
    content: ''
    width: 537px
    // max-width: 100%
    height: 480px
    // max-height: 100%
    background-image: url('../img/bg-form.png')
    background-size: cover
    position: absolute
    top: -200px
    left: 0

  @media (max-width: 450px)

    &::before
      // max-width: 100%
      left: -50px
