@font-face
  font-family: petrobrasbold
  src: url('../fonts/petrobrassans_bd-webfont-webfont.eot')
  src: url('../fonts/petrobrassans_bd-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/petrobrassans_bd-webfont-webfont.woff') format('woff'), url('../fonts/petrobrassans_bd-webfont-webfont.ttf') format('truetype'), url('../fonts/petrobrassans_bd-webfont-webfont.svg#webfont') format('svg')
