section.login-form
  position: relative
  margin-bottom: 2rem

  form
    max-width: 90%
    margin: 0 auto
    @extend .flex-column

    .wrap
      @extend .flex

  .sign-up
    @extend .flex-column
    align-items: flex-end

    a
      font-family: petrobrasbold
      font-style: italic
      font-size: .8rem
      color: $blue
      margin: .2rem 5rem .2rem 0
      text-transform: uppercase


